@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cell {
    @apply grow shrink basis-0 self-stretch bg-white/0 border-l border-t border-[#b9b9b9] flex-col justify-center items-start inline-flex;
  }
  .cell-content-border {
  }
  .cell-text {
    @apply text-black text-xs font-normal font-['Inter'] leading-none;
  }
  .cell-header-text {
    @apply text-white text-xs font-semibold font-['Outfit'] leading-none;
  }
  .cell-header-bg{
    @apply bg-[#7e44eb];
  }
  .input-border {
    @apply border border-[#b9b9b9] rounded-md p-1 w-full;
  }
  .label-input {
    @apply w-full;
  }
  .column-input-border {
    @apply flex flex-col gap-2 border border-[#b9b9b9] bg-gray-50 rounded-md p-2;
  }

  .forecast-indicator{
    display: none;
  }
  .htmx-request .forecast-indicator {
      display: block;
  }

  .htmx-request.forecast-indicator {
      display: block;
  }

  /* Hide previously loaded content during HTMX request */
  .htmx-request .forecastAnalysis {
      display: none;
  }

  .htmx-request.forecastAnalysis {
      display: none;
  }

  .sensitivity-indicator{
    display: none;
  }
  .htmx-request .sensitivity-indicator {
      display: block;
  }

  .htmx-request.sensitivity-indicator {
      display: block;
  }

  /* Hide previously loaded content during HTMX request */
  .htmx-request .sensitivityAnalysis {
      display: none;
  }

  .htmx-request.sensitivityAnalysis {
      display: none;
  }

  .staff-indicator{
    display: none;
  }
  .htmx-request .staff-indicator {
      display: block;
  }

  .htmx-request.staff-indicator {
      display: block;
  }

  /* Hide previously loaded content during HTMX request */
  .htmx-request .staffAnalysis {
      display: none;
  }

  .htmx-request.staffAnalysis {
      display: none;
  }

  .modal-indicator{
    display: none;
  }
  .htmx-request .modal-indicator {
      display: block;
  }

  .htmx-request.modal-indicator {
      display: block;
  }
  /* Hide previously loaded content during HTMX request */
  .htmx-request .modal {
      display: none;
  }

  .htmx-request.modal {
      display: none;
  }

  .spinner{
    display: none;
  }
  .htmx-indicator.spinner {
      display: none
  }

  .htmx-indicator.htmx-request.spinner {
      display: inline;
  }

  .htmx-indicator.htmx-request~span {
      display: none;
  }

}
