@using ProjectRiskManagementSim.DataAccess
@using ProjectRiskManagementSim.DataAccess.Models
@inject IServiceScopeFactory ServiceScopeFactory;
@page "/mainDashboard/{ProjectSimulationId:int}"

<!-- Dashboard -->
<div id="dashboardMain" class="flex flex-row">
  <!-- Main Content -->
  <div class="flex">
    <!-- Upper dashboard Content -->
    <div class="Upperdashboard self-stretch grow shrink basis-0 justify-start items-start gap-[17px] inline-flex">
      <!-- Upper Left Content -->


      <div class="LeftsideSection w-full self-stretch p-[15px] justify-center items-start gap-[30px] flex flex-col">

        <ChartOfDates ProjectSimulationId=@ProjectSimulationId />

        <div class="w-full h-full items-start">
          <div class="p-4 bg-[#ffb4ba]/25 rounded-2xl">
            <div class="overflow-auto h-full w-full">
              @if (@dashboardInfoHandler != null && @dashboardInfoHandler._simulations != null &&
              @dashboardInfoHandler._simulations.Count() != 0)
              {
              <SimulationsResultTable ProjectSimulationId=@ProjectSimulationId
                Simulations=@dashboardInfoHandler._simulations />
              }
            </div>
          </div>
        </div>

      </div>

      <!-- Upper Right Content -->
      <div
        class="RightsideFrame grow shrink basis-0 self-stretch p-[15px] flex-col justify-start items-start inline-flex">
        <div
          class="UpperRightFrame overflow-auto self-stretch grow shrink basis-0 h-full flex-col justify-start items-start gap-[30px] flex">
          @if (@dashboardInfoHandler._simulation != null)
          {
          <ForecastAnalysis ProjectSimulationId=@ProjectSimulationId Simulation=@dashboardInfoHandler._simulation />

          <!-- Two Analysis in Lower Right Content -->
          <div class="TwoAnalysis self-stretch grow shrink basis-0 justify-start items-start gap-[30px] inline-flex">
            <SensitivityAnalysis ProjectSimulationId=@ProjectSimulationId
              Simulation=@dashboardInfoHandler._simulation />
            <StaffAnalysis ProjectSimulationId=@ProjectSimulationId Simulation=@dashboardInfoHandler._simulation />
          </div>
          }
        </div>
      </div>
    </div>
    <!-- Lower dashboard Content -->

  </div>
  <!-- Possible right side Main Content -->
</div>

@code {
private OxygenSimulationContext _context;

[Parameter] public int ProjectSimulationId { get; set; }
public DashboardInfoHandler dashboardInfoHandler { get; set; }
protected override async Task OnInitializedAsync()
{
using var scope = ServiceScopeFactory.CreateScope();
_context = scope.ServiceProvider.GetRequiredService<OxygenSimulationContext>();
  dashboardInfoHandler = new DashboardInfoHandler(ProjectSimulationId);
  await dashboardInfoHandler.InitializeProjectsAsync(_context);
  }
  }
