@using ProjectRiskManagementSim.SimulationBlazor.Components.Layout
@layout DashboardLayout
@page "/dashboard"
@rendermode InteractiveServer
<div class="Dashboard h-[957px] p-[30px] flex-col justify-center items-start gap-[30px] inline-flex">
  <PageTitle>Dashboard</PageTitle>
</div>
