@using ProjectRiskManagementSim.SimulationBlazor.Components.Layout
@layout DashboardLayout
@page "/dashboard"
@rendermode InteractiveServer

<PageTitle>Dashboard</PageTitle>
<!-- Dashboard -->
<div class="flex flex-row">
  <!-- Main Content -->
  <div class="flex-1">
    <!-- Upper dashboard Content -->
    <div class="Upperdashboard self-stretch grow shrink basis-0 justify-start items-end gap-[17px] inline-flex">
      <!-- Upper Left Content -->
      <div class="LeftsideSection w-[437px] self-stretch p-[15px] justify-start items-center gap-2.5 flex">
        <div
          class="LeftsideFrame grow shrink basis-0 self-stretch p-4 bg-[#ffb4ba]/25 rounded-2xl flex-col justify-start items-start gap-2.5 inline-flex">
          <div class="Header self-stretch px-[38px] py-2.5 justify-center items-center gap-2.5 flex flex-col">
            <div class="SimulationInformation text-center text-white text-2xl font-extrabold font-['Inter'] capitalize">
              Simulation Information</div>
            <div
              class="SimHeadName w-[167px] text-center text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">
              Phase II of Bech Bruun project</div>
          </div>
          <div class="Frame9 pr-[46px] pb-1.5 justify-start items-center inline-flex">
            <div class="Tabel self-stretch flex-col justify-start items-start inline-flex">
              <div class="Headerrow self-stretch px-2.5 justify-start items-start gap-[5px] inline-flex">
                <div class="Cellheader px-[7px] py-2 justify-center items-center gap-2.5 flex">
                  <div class="Frame8 h-[21px] justify-start items-center gap-2.5 flex">
                    <div class="Deliverables text-white text-base font-bold font-['Outfit'] capitalize leading-tight">
                      Deliverables</div>
                  </div>
                </div>
                <div class="Cellheader px-[7px] py-2 justify-center items-center gap-2.5 flex">
                  <div class="Content h-[21px] justify-center items-center gap-2.5 flex">
                    <div class="Created text-white text-base font-bold font-['Outfit'] capitalize leading-tight">Created
                    </div>
                  </div>
                </div>
                <div class="Cellheader px-[7px] py-2 justify-center items-center gap-2.5 flex">
                  <div class="Content h-[21px] justify-center items-center gap-2.5 flex">
                    <div class="Done text-white text-base font-bold font-['Outfit'] capitalize leading-tight">Done</div>
                  </div>
                </div>
                <div class="Cellheader px-[7px] py-2 justify-center items-center gap-2.5 flex">
                  <div class="Content h-[21px] justify-center items-center gap-2.5 flex">
                    <div class="HighB text-white text-base font-bold font-['Outfit'] capitalize leading-tight">High B.
                    </div>
                  </div>
                </div>
              </div>
              <div class="Row self-stretch px-2.5 justify-start items-center gap-[5px] inline-flex">
                <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                  <div class="Frame7 justify-start items-center gap-2.5 flex">
                    <div
                      class="Epic w-[104px] text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                      Epic</div>
                  </div>
                </div>
                <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                  <div class="Content w-[45px] flex-col justify-center items-center gap-2.5 inline-flex">
                    <div
                      class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                      30</div>
                  </div>
                </div>
                <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                  <div class="Content w-[43px] flex-col justify-center items-center gap-2.5 inline-flex">
                    <div
                      class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                      2</div>
                  </div>
                </div>
                <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                  <div class="Content w-[46px] flex-col justify-center items-center gap-2.5 inline-flex">
                    <div
                      class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                      50</div>
                  </div>
                </div>
              </div>
              <div class="Row self-stretch px-2.5 justify-start items-center gap-[5px] inline-flex">
                <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                  <div class="Frame7 justify-start items-center gap-2.5 flex">
                    <div
                      class="Issues w-[104px] text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                      Issues</div>
                  </div>
                </div>
                <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                  <div class="Content w-[45px] flex-col justify-center items-center gap-2.5 inline-flex">
                    <div
                      class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                      130</div>
                  </div>
                </div>
                <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                  <div class="Content w-[43px] flex-col justify-center items-center gap-2.5 inline-flex">
                    <div
                      class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                      30</div>
                  </div>
                </div>
                <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                  <div class="Content w-[46px] flex-col justify-center items-center gap-2.5 inline-flex">
                    <div
                      class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                      30</div>
                  </div>
                </div>
              </div>
              <div class="Row self-stretch px-2.5 justify-start items-center gap-[5px] inline-flex">
                <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                  <div class="Frame7 justify-start items-center gap-2.5 flex">
                    <div
                      class="Bugs w-[104px] text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                      Bugs</div>
                  </div>
                </div>
                <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                  <div class="Content w-[45px] flex-col justify-center items-center gap-2.5 inline-flex">
                    <div
                      class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                      16</div>
                  </div>
                </div>
                <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                  <div class="Content w-[43px] flex-col justify-center items-center gap-2.5 inline-flex">
                    <div
                      class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                      2</div>
                  </div>
                </div>
                <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                  <div class="Content w-[46px] flex-col justify-center items-center gap-2.5 inline-flex">
                    <div
                      class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                      40</div>
                  </div>
                </div>
              </div>
              <div class="Row self-stretch px-2.5 justify-start items-center gap-[5px] inline-flex">
                <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                  <div class="Frame7 justify-start items-center gap-2.5 flex">
                    <div
                      class="Stuck w-[104px] text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                      Stuck</div>
                  </div>
                </div>
                <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                  <div class="Content w-[45px] flex-col justify-center items-center gap-2.5 inline-flex">
                    <div
                      class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                      17</div>
                  </div>
                </div>
                <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                  <div class="Content w-[43px] flex-col justify-center items-center gap-2.5 inline-flex">
                    <div
                      class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                      2</div>
                  </div>
                </div>
                <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                  <div class="Content w-[46px] flex-col justify-center items-center gap-2.5 inline-flex">
                    <div
                      class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                      50</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="Tabel self-stretch h-[405px] flex-col justify-start items-start flex">
            <div class="Headerrow self-stretch px-2.5 justify-start items-start gap-[5px] inline-flex">
              <div class="Cellheader px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Frame8 h-[21px] justify-start items-center gap-2.5 flex">
                  <div class="Columns text-white text-base font-bold font-['Outfit'] capitalize leading-tight">Columns
                  </div>
                </div>
              </div>
              <div class="Cellheader px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content h-[21px] justify-center items-center gap-2.5 flex">
                  <div class="Wip text-white text-base font-bold font-['Outfit'] capitalize leading-tight">WIP</div>
                </div>
              </div>
              <div class="Cellheader px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content h-[21px] justify-center items-center gap-2.5 flex">
                  <div class="LowB text-white text-base font-bold font-['Outfit'] capitalize leading-tight">Low B.</div>
                </div>
              </div>
              <div class="Cellheader px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content h-[21px] justify-center items-center gap-2.5 flex">
                  <div class="HighB text-white text-base font-bold font-['Outfit'] capitalize leading-tight">High B.
                  </div>
                </div>
              </div>
              <div class="Cellheader h-[37px] px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content justify-center items-center gap-2.5 flex">
                  <div class="Buffer text-white text-base font-bold font-['Outfit'] capitalize leading-tight">Buffer
                  </div>
                </div>
              </div>
            </div>
            <div class="Row self-stretch px-2.5 justify-start items-center gap-[5px] inline-flex">
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Frame7 justify-start items-center gap-2.5 flex">
                  <div
                    class="Open w-[104px] text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    Open</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[27px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    20</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[43px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    2</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[46px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    50</div>
                </div>
              </div>
              <div class="Cell h-10 px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div
                  class="Bufferswitch w-10 pl-[3px] pr-[19px] py-[3px] bg-[#ff7c87] rounded-full border border-[#2c2c2c] justify-start items-center flex">
                </div>
              </div>
            </div>
            <div class="Row self-stretch px-2.5 justify-start items-center gap-[5px] inline-flex">
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Frame7 justify-start items-center gap-2.5 flex">
                  <div
                    class="InProgress w-[104px] text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    In Progress</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[27px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    3</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[43px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    1</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[46px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    30</div>
                </div>
              </div>
              <div class="Cell h-10 px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div
                  class="Bufferswitch w-10 pl-[19px] pr-[3px] py-[3px] bg-[#2c2c2c] rounded-full border border-[#2c2c2c] justify-end items-center flex">
                </div>
              </div>
            </div>
            <div class="Row self-stretch px-2.5 justify-start items-center gap-[5px] inline-flex">
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Frame7 justify-start items-center gap-2.5 flex">
                  <div
                    class="Finished w-[104px] text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    Finished</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[27px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    20</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[43px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    2</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[46px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    40</div>
                </div>
              </div>
              <div class="Cell h-10 px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div
                  class="Bufferswitch w-10 pl-[3px] pr-[19px] py-[3px] bg-[#ff7c87] rounded-full border border-[#2c2c2c] justify-start items-center flex">
                </div>
              </div>
            </div>
            <div class="Row self-stretch px-2.5 justify-start items-center gap-[5px] inline-flex">
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Frame7 justify-start items-center gap-2.5 flex">
                  <div
                    class="ReadyToTestOnDevelopment w-[104px] text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    Ready to test on Development</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[27px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    17</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[43px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    2</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[46px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    50</div>
                </div>
              </div>
              <div class="Cell h-10 px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div
                  class="Bufferswitch w-10 pl-[3px] pr-[19px] py-[3px] bg-[#ff7c87] rounded-full border border-[#2c2c2c] justify-start items-center flex">
                </div>
              </div>
            </div>
            <div class="Row self-stretch px-2.5 justify-start items-center gap-[5px] inline-flex">
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Frame7 justify-start items-center gap-2.5 flex">
                  <div
                    class="TestingOnDevelopment w-[104px] text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    Testing on Development</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[27px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    2</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[43px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    1</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[46px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    52</div>
                </div>
              </div>
              <div class="Cell h-10 px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div
                  class="Bufferswitch w-10 pl-[19px] pr-[3px] py-[3px] bg-[#2c2c2c] rounded-full border border-[#2c2c2c] justify-end items-center flex">
                </div>
              </div>
            </div>
            <div class="Row self-stretch px-2.5 justify-start items-center gap-[5px] inline-flex">
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Frame7 justify-start items-center gap-2.5 flex">
                  <div
                    class="ReadyToTestOnProduction w-[104px] text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    Ready to test on Production</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[27px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    10</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[43px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    2</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[46px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    45</div>
                </div>
              </div>
              <div class="Cell h-10 px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div
                  class="Bufferswitch w-10 pl-[3px] pr-[19px] py-[3px] bg-[#ff7c87] rounded-full border border-[#2c2c2c] justify-start items-center flex">
                </div>
              </div>
            </div>
            <div class="Row self-stretch px-2.5 justify-start items-center gap-[5px] inline-flex">
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Frame7 justify-start items-center gap-2.5 flex">
                  <div
                    class="TestingOnProduction w-[104px] text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    Testing on production</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[27px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    1</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[43px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    5</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[46px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    70</div>
                </div>
              </div>
              <div class="Cell h-10 px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div
                  class="Bufferswitch w-10 pl-[19px] pr-[3px] py-[3px] bg-[#2c2c2c] rounded-full border border-[#2c2c2c] justify-end items-center flex">
                </div>
              </div>
            </div>
            <div class="Row self-stretch px-2.5 justify-start items-center gap-[5px] inline-flex">
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Frame7 justify-start items-center gap-2.5 flex">
                  <div
                    class="Done w-[104px] text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    done</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[27px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    20</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[43px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    1</div>
                </div>
              </div>
              <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div class="Content w-[46px] flex-col justify-center items-center gap-2.5 inline-flex">
                  <div
                    class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
                    30</div>
                </div>
              </div>
              <div class="Cell h-10 px-[7px] py-2 justify-center items-center gap-2.5 flex">
                <div
                  class="Bufferswitch w-10 pl-[3px] pr-[19px] py-[3px] bg-[#ff7c87] rounded-full border border-[#2c2c2c] justify-start items-center flex">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Upper Right Content -->
      <div
        class="RightsideFrame grow shrink basis-0 self-stretch p-[15px] flex-col justify-start items-start inline-flex">
        <div
          class="UpperRightFrame self-stretch grow shrink basis-0 rounded-[40px] flex-col justify-start items-start gap-[30px] flex">
          <ForecastAnalysis />
          <!-- Two Analysis in Lower Right Content -->
          <div class="TwoAnalysis self-stretch grow shrink basis-0 justify-start items-start gap-[30px] inline-flex">
            <SensitivityAnalysis />
            <StaffAnalysis />
          </div>
        </div>
      </div>
    </div>
    <!-- Lower dashboard Content -->
    <div class="Lowerdashboard self-stretch h-[147px] px-[15px] justify-start items-start gap-[47px] flex">
      <div class="DashboardFooterLeft w-[407px] self-stretch flex-col justify-start items-start inline-flex">
        <div
          class="DashboardFooter self-stretch grow shrink basis-0 p-4 bg-[#ffb4ba]/25 rounded-2xl justify-end items-start gap-2.5 inline-flex">
          <img class="Image4 grow shrink basis-0 self-stretch rounded-md" src="https://via.placeholder.com/375x115" />
        </div>
      </div>
      <div
        class="DashboardFooterRight grow shrink basis-0 self-stretch p-4 bg-[#ffb4ba]/25 rounded-2xl justify-end items-start gap-2.5 flex">
        <div class="overflow-auto h-full w-full">
          <SimulationsResultTable />
        </div>
      </div>
    </div>
  </div>
</div>
