<div class="KanbanDeliverableTable pr-[46px] pb-1.5 justify-start items-center inline-flex">
  <div class="Tabel self-stretch flex-col justify-start items-start inline-flex">
    <div class="Headerrow self-stretch px-2.5 justify-start items-start gap-[5px] inline-flex">
      <div class="Cellheader px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Frame8 h-[21px] justify-start items-center gap-2.5 flex">
          <div class="Deliverables text-white text-base font-bold font-['Outfit'] capitalize leading-tight">
            Deliverables</div>
        </div>
      </div>
      <div class="Cellheader px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content h-[21px] justify-center items-center gap-2.5 flex">
          <div class="Created text-white text-base font-bold font-['Outfit'] capitalize leading-tight">Created
          </div>
        </div>
      </div>
      <div class="Cellheader px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content h-[21px] justify-center items-center gap-2.5 flex">
          <div class="Done text-white text-base font-bold font-['Outfit'] capitalize leading-tight">Done</div>
        </div>
      </div>
      <div class="Cellheader px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content h-[21px] justify-center items-center gap-2.5 flex">
          <div class="HighB text-white text-base font-bold font-['Outfit'] capitalize leading-tight">High B.
          </div>
        </div>
      </div>
    </div>
    <div class="Row self-stretch px-2.5 justify-start items-center gap-[5px] inline-flex">
      <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Frame7 justify-start items-center gap-2.5 flex">
          <div class="Epic w-[104px] text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
            Epic</div>
        </div>
      </div>
      <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content w-[45px] flex-col justify-center items-center gap-2.5 inline-flex">
          <div
            class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
            30</div>
        </div>
      </div>
      <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content w-[43px] flex-col justify-center items-center gap-2.5 inline-flex">
          <div
            class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
            2</div>
        </div>
      </div>
      <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content w-[46px] flex-col justify-center items-center gap-2.5 inline-flex">
          <div
            class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
            50</div>
        </div>
      </div>
    </div>
    <div class="Row self-stretch px-2.5 justify-start items-center gap-[5px] inline-flex">
      <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Frame7 justify-start items-center gap-2.5 flex">
          <div class="Issues w-[104px] text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
            Issues</div>
        </div>
      </div>
      <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content w-[45px] flex-col justify-center items-center gap-2.5 inline-flex">
          <div
            class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
            130</div>
        </div>
      </div>
      <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content w-[43px] flex-col justify-center items-center gap-2.5 inline-flex">
          <div
            class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
            30</div>
        </div>
      </div>
      <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content w-[46px] flex-col justify-center items-center gap-2.5 inline-flex">
          <div
            class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
            30</div>
        </div>
      </div>
    </div>
    <div class="Row self-stretch px-2.5 justify-start items-center gap-[5px] inline-flex">
      <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Frame7 justify-start items-center gap-2.5 flex">
          <div class="Bugs w-[104px] text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
            Bugs</div>
        </div>
      </div>
      <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content w-[45px] flex-col justify-center items-center gap-2.5 inline-flex">
          <div
            class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
            16</div>
        </div>
      </div>
      <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content w-[43px] flex-col justify-center items-center gap-2.5 inline-flex">
          <div
            class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
            2</div>
        </div>
      </div>
      <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content w-[46px] flex-col justify-center items-center gap-2.5 inline-flex">
          <div
            class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
            40</div>
        </div>
      </div>
    </div>
    <div class="Row self-stretch px-2.5 justify-start items-center gap-[5px] inline-flex">
      <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Frame7 justify-start items-center gap-2.5 flex">
          <div class="Stuck w-[104px] text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
            Stuck</div>
        </div>
      </div>
      <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content w-[45px] flex-col justify-center items-center gap-2.5 inline-flex">
          <div
            class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
            17</div>
        </div>
      </div>
      <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content w-[43px] flex-col justify-center items-center gap-2.5 inline-flex">
          <div
            class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
            2</div>
        </div>
      </div>
      <div class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content w-[46px] flex-col justify-center items-center gap-2.5 inline-flex">
          <div
            class=" self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
            50</div>
        </div>
      </div>
    </div>
  </div>
</div>
