<div class="KanbanSimulationHeader self-stretch px-[38px] py-2.5 justify-center items-center gap-2.5 flex flex-col">
  <div class="SimulationInformation text-center text-white text-2xl font-extrabold font-['Inter'] capitalize">
    Simulation Information</div>
  <div
    class="SimHeadName w-[167px] text-center text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">
    Phase II of Bech Bruun project</div>
</div>
