<div class="KanbanSimulationHeader self-stretch px-[38px] py-2.5 justify-center items-center gap-2.5 flex flex-col">
  <div class="SimulationInformation text-center text-white text-2xl font-extrabold font-['Inter'] capitalize">
    Simulation Information
  </div>
  <div
    class="SimHeadName w-full flex justify-between items-center text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">
    <span>Phase II of Bech Bruun project</span>
    <span class="inline-block">
      <Editbutton />
    </span>
  </div>
</div>
