@using ProjectRiskManagementSim.DataAccess
@using ProjectRiskManagementSim.DataAccess.Models
@inject IServiceScopeFactory ServiceScopeFactory
@using ProjectRiskManagementSim.SimulationBlazor.Components.Pages.Dashboard
@using ProjectRiskManagementSim.ProjectSimulation.Interfaces
@page "/dashboard/{projectSimulationId:int}/sensitivity-analysis"
<div id="sensitivityAnalysis" class="grow shrink basis-0 self-stretch">
  <SensitivityAnalysisSkeleton />
  <!-- Sensitivty Analysis in Lower Right Content -->
  <div
    class="sensitivityAnalysis grow shrink basis-0 self-stretch bg-[#ffb4ba]/25 rounded-2xl flex-col justify-center items-start inline-flex">
    <div
      class="SensitivityResults self-stretch grow shrink basis-0 p-4 flex-col justify-start items-start gap-2.5 flex">
      <div class="flex">
        <div
          class="SensitivityAnalysisSection self-stretch px-[30px] py-px justify-center items-center gap-2.5 inline-flex">
          <div
            class="SensitivityAnalysisHeader text-white text-xl font-semibold font-['Outfit'] capitalize tracking-wider">
            Sensitivity Analysis
          </div>
        </div>
        <div class="flex p-1" hx-trigger="click" hx-indicator=".sensitivity-indicator,.sensitivityAnalysis"
          hx-put="/dashboard/@ProjectSimulationId/sensitivity-analysis" hx-target="#sensitivityAnalysis"
          hx-swap="OuterHTML" @onput="HandleSensitivityAnalysis">
          <RunSimButton />
        </div>
      </div>
      <div class="overflow-auto w-full h-full border border-[#b9b9b9] rounded">
        <table class="min-w-full bg-white">
          <!-- Table Header -->
          <thead class="sticky top-0 bg-[#7e44eb] text-white font-['Outfit'] font-semibold text-sm tracking-wider">
            <tr>
              <th class="py-2 px-3 border-b border-[#b9b9b9] text-center">#</th>
              <th class="py-2 px-3 border-b border-[#b9b9b9] text-center">Priority</th>
              <th class="py-2 px-3 border-b border-[#b9b9b9] text-center">Days</th>
              <th class="py-2 px-3 border-b border-[#b9b9b9] text-center">End Date</th>
            </tr>
          </thead>

          <!-- Table Body with Scrollable Rows -->
          <tbody class="text-xs font-['Inter'] text-black">
            @foreach (var result in listSensitivityAnalysis.SensitivityAnalysisList)
            {
            <tr class="odd:bg-white even:bg-gray-100">
              <td class="py-2 px-3 border-b border-[#b9b9b9] text-center">@result.Priority</td>
              <td class="py-2 px-3 border-b border-[#b9b9b9] text-center">@result.SensitivityName</td>
              <td class="py-2 px-3 border-b border-[#b9b9b9] text-center">@result.Days</td>
              <td class="py-2 px-3 border-b border-[#b9b9b9] text-center">@result.EndDate</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
@code {
private IMonteCarloSimulation _MCS;
private OxygenSimulationContext _context;
[Parameter] public int ProjectSimulationId { get; set; }
[Parameter] public ProjectSimulationModel Simulation { get; set; }
public ListSensitivityAnalysis listSensitivityAnalysis { get; set; }
protected override async Task OnInitializedAsync()
{
using var scope = ServiceScopeFactory.CreateScope();
_MCS = scope.ServiceProvider.GetRequiredService<IMonteCarloSimulation>();

  listSensitivityAnalysis = new ListSensitivityAnalysis(Simulation, _MCS);

  }
  private async Task HandleSensitivityAnalysis(HtmxEventArgs args)
  {
  using var scope = ServiceScopeFactory.CreateScope();
  _context = scope.ServiceProvider.GetRequiredService<OxygenSimulationContext>();
    await listSensitivityAnalysis.RunSimulationAnalysis(_context, ProjectSimulationId);
    }
    }
