<!-- Sensitivty Analysis in Lower Right Content -->
<div id="sensitivity-indicator"
  class="sensitivity-indicator htmx-indicator relative self-stretch grow shrink basis-0 flex-col justify-start items-start">
  <div
    class="rounded-2xl relative overflow-hidden before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_2s_infinite] before:bg-gradient-to-r before:from-transparent before:via-white/60 before:to-transparent">
    <div
      class="SensitivityAnalysis grow shrink basis-0 self-stretch bg-[#ffb4ba]/25 rounded-2xl flex-col justify-center items-start inline-flex">
      <div
        class="SensitivityResults self-stretch grow shrink basis-0 p-4 flex-col justify-start items-start gap-2.5 flex">
        <div class="flex">
          <div
            class="SensitivityAnalysisSection self-stretch px-[30px] py-px justify-center items-center gap-2.5 inline-flex">
            <div
              class="SensitivityAnalysisHeader text-white text-xl font-semibold font-['Outfit'] capitalize tracking-wider">
              Sensitivity Analysis</div>
          </div>
          <div class="flex p-1">
            <RunSimButtonSkeleton />
          </div>
        </div>
        <div
          class="Table self-stretch grow shrink basis-0 bg-white rounded border border-[#b9b9b9] flex-col justify-start items-start flex">
          <div class="Row self-stretch justify-center items-start inline-flex">
            <div
              class="Cell grow shrink basis-0 self-stretch bg-[#7e44eb] border-l border-t border-[#b9b9b9] flex-col justify-center items-start inline-flex">
              <div class="Content self-stretch px-3 py-2.5 justify-center items-start inline-flex">
                <div
                  class="Text grow shrink basis-0 text-center text-white text-sm font-semibold font-['Outfit'] leading-[18.20px]">
                  #
                </div>
              </div>
            </div>
            <div
              class="Cell grow shrink basis-0 self-stretch bg-[#7e44eb] border-l border-t border-[#b9b9b9] flex-col justify-center items-start inline-flex">
              <div class="Content self-stretch px-3 py-2.5 justify-center items-start inline-flex">
                <div
                  class="Text grow shrink basis-0 text-center text-white text-sm font-semibold font-['Outfit'] leading-[18.20px]">
                  Priority
                </div>
              </div>
            </div>
            <div
              class="Cell grow shrink basis-0 self-stretch bg-[#7e44eb] border-l border-t border-[#b9b9b9] flex-col justify-center items-start inline-flex">
              <div class="Content self-stretch px-3 py-2.5 justify-center items-start inline-flex">
                <div
                  class="Text grow shrink basis-0 text-center text-white text-sm font-semibold font-['Outfit'] leading-[18.20px]">
                  Days
                </div>
              </div>
            </div>
            <div
              class="Cell grow shrink basis-0 self-stretch bg-[#7e44eb] border-l border-t border-[#b9b9b9] flex-col justify-center items-start inline-flex">
              <div class="Content self-stretch px-3 py-2.5 justify-center items-start inline-flex">
                <div
                  class="Text grow shrink basis-0 text-center text-white text-sm font-semibold font-['Outfit'] leading-[18.20px]">
                  End Date
                </div>
              </div>
            </div>
          </div>
          @foreach( var result in listSensitivityAnalysis.SensitivityAnalysisList)
          {
          <div class="Row self-stretch justify-center items-start inline-flex">
            <div
              class="Cell grow shrink basis-0 self-stretch bg-white/0 border-l border-t border-[#b9b9b9] flex-col justify-center items-start inline-flex">
              <div class="Content self-stretch px-3 py-2.5 justify-center items-start inline-flex">
                <DotLoader />
              </div>
            </div>
            <div
              class="Cell grow shrink basis-0 self-stretch bg-white/0 border-l border-t border-[#b9b9b9] flex-col justify-center items-start inline-flex">
              <div class="Content self-stretch px-3 py-2.5 justify-center items-start inline-flex">
                <DotLoader />
              </div>
            </div>
            <div
              class="Cell grow shrink basis-0 self-stretch bg-white/0 border-l border-t border-[#b9b9b9] flex-col justify-center items-start inline-flex">
              <div class="Content self-stretch px-3 py-2.5 justify-center items-start inline-flex">
                <DotLoader />
              </div>
            </div>
            <div
              class="Cell grow shrink basis-0 self-stretch bg-white/0 border-l border-t border-[#b9b9b9] flex-col justify-center items-start inline-flex">
              <div class="Content self-stretch px-3 py-2.5 justify-center items-start inline-flex">
                <DotLoader />
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
@code {
public ListSensitivityAnalysis listSensitivityAnalysis { get; set; }
protected override async Task OnInitializedAsync()
{
listSensitivityAnalysis = new ListSensitivityAnalysis();
}
}
