@inherits ConditionalComponentBase

<div class="SidebarFooterSettings w-full h-full justify-center items-center inline-flex">


    <div class="p-2 flex flex-row gap-4 overflow-auto">
        <div>
            <button id="openModal" hx-put="/create-new-project-modal/@ProjectSimulationId"
                    hx-vals='{ "SimProjectId": @ProjectSimulationId }' hx-trigger="click" hx-target="#modal" hx-swap="innerHTML"
                    hx-indicator=".modal-indicator, .modal">
                <AddButton />
            </button>
            <Modal />
        </div>

        <div class="runSimulationButton justify-start align-top items-start flex rounded-md">
            <a id="run-sim-link" href="/dashboard/@ProjectSimulationId"
               hx-trigger="apexCharts from:body, initializeSim from:body" hx-push-url="true" class="hidden">
                <ToggleLeft />
            </a>
            <div id="run-sim-button">
                <button hx-get="/run-simulation/@ProjectSimulationId" hx-target="#dashboardMain" hx-swap="outerHTML"
                        hx-push-url="true" hx-trigger="click, initializeSim from:body">
                    <ToggleRight />
                </button>
            </div>
        </div>


        <div>

            <button hx-delete="/delete-simulation/@ProjectSimulationId" hx-trigger="click" hx-indicator="#spinner"
                    hx-on:htmx:before-request="alert('Are you sure you want to delete this simulaiton?')">
                <span id="delete-button">
                    <TrashButton />
               </span>
                <div id="spinner"
                     class="htmx-indicator spinner inline-block h-6 w-6 animate-spin rounded-full border-4 border-solid border-current border-e-transparent align-[-0.125em] text-neutral-50 motion-reduce:animate-[spin_1.5s_linear_infinite]"
                     role="status">
                    <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Loading...</span>
                </div>
            </button>
            

        </div>

        <div>
            <button id="openUpdateModal" hx-put="/update-new-project-modal/@ProjectSimulationId"
                    hx-vals='{ "SimProjectId": @ProjectSimulationId }' hx-trigger="click" hx-target="#modal" hx-swap="innerHTML"
                    hx-indicator=".modal-indicator, .modal">
                <SettingsIcon />
            </button>
            <Modal />
        </div>
    </div>
</div>
@code {

    [Parameter] public int ProjectSimulationId { get; set; }
    private void HandleStepRun(HtmxEventArgs args)
    {
        //StepRunningSimulation = true;
    }
}
