@inherits ConditionalComponentBase

<div class="SidebarFooterSettings w-full h-full justify-center items-center inline-flex">


  <div class="p-2 flex flex-row gap-4 overflow-auto">
    <button id="openModal">
      <AddButton />
    </button>

    <div class="runSimulationButton justify-start align-top items-start flex rounded-md">
      <a id="run-sim-link" href="/dashboard/@ProjectSimulationId"
        hx-trigger="apexCharts from:body, initializeSim from:body" hx-push-url="true" class="hidden">
        <ToggleLeft />
      </a>
      <div id="run-sim-button">
        <button hx-get="/run-simulation/@ProjectSimulationId" hx-target="#dashboardMain" hx-swap="outerHTML"
          hx-push-url="true" hx-trigger="click, initializeSim from:body">
          <ToggleRight />
        </button>
      </div>
    </div>


    <button>
      <TrashButton />
    </button>

    <button>
      <SettingsIcon />
    </button>
  </div>
</div>
@code {

[Parameter] public int ProjectSimulationId { get; set; }
private void HandleStepRun(HtmxEventArgs args)
{
//StepRunningSimulation = true;
}
}
