@using ProjectRiskManagementSim.DataAccess
@using ProjectRiskManagementSim.DataAccess.Models
@inject OxygenSimulationContext _context;

<!-- Dashboard sidebar -->
<!-- Sidebar (fixed width, only grows vertically) -->
<nav class="w-64 p-2.5 bg-violet-600/40 flex flex-col flex-grow-0">
  <!-- Sidebar Upper Section -->
  @if(@sidebarInfoHandler != null && @sidebarInfoHandler._simulation != null && @sidebarInfoHandler._project != null)
  {
  <SidebarNavProjectInfo Simulation=@sidebarInfoHandler._simulation Project=@sidebarInfoHandler._project />
  }
  <!-- Divider -->
  <div class="Rectangle2 self-stretch h-0.5 bg-[#ff7c87]"></div>
  <!-- Sidebar Lower Section -->
  @if(@sidebarInfoHandler != null && @sidebarInfoHandler._simulations != null)
  {
  <SidebarNavOtherSimulations Simulations=@sidebarInfoHandler._simulations />
  }
  <!-- Divider -->
  <div class="Rectangle3 self-stretch h-0.5 bg-[#ff7c87]"></div>
  <!-- Sidebar Footer Section -->
  <div class="SidebarFooterSettings self-stretch w-full h-full justify-center items-center gap-2 inline-flex">
    <div class="runSimulationButton p-2 justify-center items-center flex bg-white rounded-md">
      <button hx-get="/run-simulation" hx-target="#dashboardMain" hx-swap="outerHTML">Run</button>
    </div>
    <div class="dashboardButton p-2 justify-center items-center flex bg-white rounded-md">
      <a href="/simulations">Simulations</a>
    </div>
    <div class="Archive w-6 h-6 px-px py-[3px] justify-center items-center flex">
    </div>
    <div class="Settings w-6 h-6 p-px justify-center items-center flex">
      <button>
        <SettingsIcon />
      </button>
    </div>
    <div class="ExternalLink w-6 h-6 p-[3px] justify-center items-center flex">
    </div>
  </div>
</nav>
@code {
[Parameter] public int ProjectSimulationId { get; set; }
public SidebarInfoHandler sidebarInfoHandler { get; set; }
protected override async Task OnInitializedAsync()
{
sidebarInfoHandler = new SidebarInfoHandler(ProjectSimulationId);
await sidebarInfoHandler.InitializeProjectsAsync(_context);
}
}
