@using ProjectRiskManagementSim.SimulationBlazor.Components.Layout
@using ProjectRiskManagementSim.SimulationBlazor.Lib;
@page "/run-simulation"

<div class="Runsimulation h-[837px] flex-col justify-start items-start gap-2.5 inline-flex">
  <table class="min-w-full table-auto border-collapse border border-white">
    <thead class="bg-[#ffb4ba]/50">
      <tr>
        <th class="border border-white p-4 text-white text-base font-extrabold font-['Outfit']">Backlog</th>
        <th class="border border-white p-4 text-white text-base font-extrabold font-['Outfit']">Open</th>
        <th class="border border-white p-4 text-white text-base font-extrabold font-['Outfit']">In Progress</th>
        <th class="border border-white p-4 text-white text-base font-extrabold font-['Outfit']">Stuck</th>
        <th class="border border-white p-4 text-white text-base font-extrabold font-['Outfit']">Finished</th>
        <th class="border border-white p-4 text-white text-base font-extrabold font-['Outfit']">Ready to Test (Stage)
        </th>
        <th class="border border-white p-4 text-white text-base font-extrabold font-['Outfit']">Testing (Stage)</th>
        <th class="border border-white p-4 text-white text-base font-extrabold font-['Outfit']">Awaiting Deployment</th>
        <th class="border border-white p-4 text-white text-base font-extrabold font-['Outfit']">Ready to Test (Prod)
        </th>
        <th class="border border-white p-4 text-white text-base font-extrabold font-['Outfit']">Done</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border border-white p-2 text-white">test</td>
        <td class="border border-white p-2 text-white">test</td>
        <td class="border border-white p-2 text-white">test</td>
        <td class="border border-white p-2 text-white">test</td>
        <td class="border border-white p-2 text-white">test</td>
        <td class="border border-white p-2 text-white">test</td>
        <td class="border border-white p-2 text-white">test</td>
        <td class="border border-white p-2 text-white">test</td>
        <td class="border border-white p-2 text-white">test</td>
        <td class="border border-white p-2 text-white">test</td>
      </tr>
    </tbody>
  </table>
</div>
