@using ProjectRiskManagementSim.DataAccess
@using ProjectRiskManagementSim.DataAccess.Models
@inject IServiceScopeFactory ServiceScopeFactory
@using ProjectRiskManagementSim.SimulationBlazor.Components.Pages.Dashboard
@using ProjectRiskManagementSim.ProjectSimulation.Interfaces
@page "/dashboard/{projectSimulationId:int}/staff-analysis"
<!-- Staff Analysis in Lower Right Content -->
<div id="staffAnalysis" class="grow shrink basis-0 self-stretch">
  <StaffAnalysisSkeleton />
  <div
    class="staffAnalysis grow shrink basis-0 self-stretch bg-[#ffb4ba]/25 rounded-2xl flex-col justify-center items-start inline-flex">
    <div class="StaffResults self-stretch grow shrink basis-0 p-4 flex-col justify-start items-start gap-2.5 flex">
      <div class="flex">
        <div class="StaffAnalysisSection self-stretch px-[30px] py-px justify-center items-center gap-2.5 inline-flex">
          <div class="StaffAnalysisHeader text-white text-xl font-semibold font-['Outfit'] capitalize tracking-wider">
            Staff analysis
          </div>
        </div>
        <div class="flex p-1" hx-trigger="click" hx-indicator=".staff-indicator,.staffAnalysis"
          hx-put="/dashboard/@ProjectSimulationId/staff-analysis" hx-target="#staffAnalysis" hx-swap="OuterHTML"
          @onput="HandleStaffAnalysis">
          <RunSimButton />
        </div>
      </div>
      <div class="min-w-full border border-[#b9b9b9] rounded">
        <div class="overflow-auto">


          <table class="min-w-full min-h-full bg-white">
            <!-- Table Header -->
            <thead class="sticky top-0 bg-[#7e44eb] text-white font-['Outfit'] font-semibold text-sm tracking-wider">
              <tr>
                <th class="py-2 px-3 border-b border-[#b9b9b9] text-center">#</th>
                <th class="py-2 px-3 border-b border-[#b9b9b9] text-center">Priority</th>
                <th class="py-2 px-3 border-b border-[#b9b9b9] text-center">Days</th>
                <th class="py-2 px-3 border-b border-[#b9b9b9] text-center">End Date</th>
              </tr>
            </thead>

            <!-- Table Body with Scrollable Rows -->
            <tbody class="overflow-auto max-h-[200px] text-xs font-['Inter'] text-black">
              @foreach (var result in listStaffAnalysis.StaffAnalysisList)
              {
              <tr class="odd:bg-white even:bg-gray-100">
                <td class="py-2 px-3 border-b border-[#b9b9b9] text-center">@result.Priority</td>
                <td class="py-2 px-3 border-b border-[#b9b9b9] text-center">@result.StaffName</td>
                <td class="py-2 px-3 border-b border-[#b9b9b9] text-center">@result.Days</td>
                <td class="py-2 px-3 border-b border-[#b9b9b9] text-center">@result.EndDate</td>
              </tr>
              }
            </tbody>


          </table>
        </div>
      </div>
    </div>
  </div>
</div>

@code {
private IMonteCarloSimulation _MCS;
private OxygenSimulationContext _context;
[Parameter] public int ProjectSimulationId { get; set; }
[Parameter] public ProjectSimulationModel Simulation { get; set; }
public ListStaffAnalysis listStaffAnalysis { get; set; }
protected override async Task OnInitializedAsync()
{
using var scope = ServiceScopeFactory.CreateScope();
_MCS = scope.ServiceProvider.GetRequiredService<IMonteCarloSimulation>();

  listStaffAnalysis = new ListStaffAnalysis(Simulation, _MCS);

  }

  private async Task HandleStaffAnalysis(HtmxEventArgs args)
  {
  using var scope = ServiceScopeFactory.CreateScope();
  _context = scope.ServiceProvider.GetRequiredService<OxygenSimulationContext>();
    await listStaffAnalysis.RunSimulationAnalysis(_context, ProjectSimulationId);
    }
    }
