@inherits LayoutComponentBase

<div id="home-content"
  class="Home relative min-h-screen w-full bg-[#192b3e] flex flex-col justify-between items-center z-0">
  <NavMenu />
  <main>
    <TwoBgCircles />
    <!--
    <div class="top-row px-4">
      <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
    </div>
    <article class="content px-4">
      @Body
    </article>
    -->
    @Body
  </main>
  <footer class="Footer self-stretch h-[243px] flex-col justify-end items-center gap-2.5 flex">
    <div class="Rectangle1 self-stretch h-[11px] bg-gradient-to-r from-[#7e44eb] to-[#ff7c87]"></div>
  </footer>
</div>
