<nav
  class="Navbar self-stretch px-[180px] bg-gradient-to-r from-[#7e44eb] to-[#ff7c87] justify-between items-center flex">
  <div class="Companyname w-[167px] h-[100px] justify-left items-center gap-2.5 flex">
    <a href="/">
      <div class="Oxygen w-[75px] text-white text-xl font-semibold font-['Inter'] hover:text-red-400">Oxygen</div>
    </a>
  </div>
  <div class="Menunav justify-start items-center gap-9 flex">
    <a href="/htmx-test">
      <div class="Projects w-[76.93px] text-white text-xl font-normal font-['Inter'] hover:text-red-400">Projects</div>
    </a>
    <a href="/dashboard">
      <div class="Dashboard w-[103.90px] text-white text-xl font-normal font-['Inter'] hover:text-red-400">Dashboard
      </div>
    </a>
    <a href="/simulations">
      <div class="Simulations w-[108.90px] text-white text-xl font-normal font-['Inter'] hover:text-red-400">Simulations
      </div>
    </a>
    <a href="/counter">
      <div class="User w-[44.96px] text-white text-xl font-normal font-['Inter'] hover:text-red-400">User</div>
    </a>
  </div>
</nav>
