<!-- Navbar -->
<nav class="w-full self-stretch px-[180px] justify-between items-center flex">
  <div class="w-40 h-12 justify-left items-center flex">
    <a href="/" class="w-[75px] text-white text-xl font-semibold font-['Inter'] hover:text-red-400">Oxygen</a>
  </div>
  <div class="flex space-x-9">
    <a href="/htmx-test"
      class="w-[76.93px] text-white text-xl font-normal font-['Inter'] hover:text-red-400">Projects</a>
    <a href="/dashboard"
      class="Dashboard w-[103.90px] text-white text-xl font-normal font-['Inter'] hover:text-red-400">Dashboard</a>
    <a href="/simulations"
      class="w-[108.90px] text-white text-xl font-normal font-['Inter'] hover:text-red-400">Simulations</a>
    <a href="/counter"
      class="User w-[44.96px] text-white text-xl font-normal font-['Inter'] hover:text-red-400">User</a>
  </div>
</nav>
