<!-- Navbar -->
<nav class="w-full self-stretch px-[180px] justify-between items-center flex">
  <div class="w-40 h-12 justify-left items-center flex">
    <a hx-get="/" hx-target="#hero-content" hx-swap="outerHTML" hx-on::after-request="initializeModal()"
      class="w-[75px] text-white text-xl font-semibold font-['Inter'] hover:text-purple-100">Oxygen</a>
  </div>
  <div class="flex space-x-9">
    <a href="/simulations"
      class="w-[76.93px] text-white text-xl font-normal font-['Inter'] hover:text-purple-100">Projects</a>
    <a href="/simulations"
      class="Dashboard w-[103.90px] text-white text-xl font-normal font-['Inter'] hover:text-purple-100">Dashboard</a>
    <a href="/simulations"
      class="w-[108.90px] text-white text-xl font-normal font-['Inter'] hover:text-purple-100">Simulations</a>
    <a href="/simulations"
      class="w-[108.90px] text-white text-xl font-normal font-['Inter'] hover:text-purple-100">User</a>
  </div>
</nav>
