<!-- BgCircles will be absolutely positioned and in the background -->
<div class="BgCircles fixed inset-0 w-[1568px] h-[600px] justify-center items-start flex z-[-1]">
  <div class="Ellipse1 absolute left-40 bottom-0 w-[600px] h-[600px] bg-[#7e44eb]/90 rounded-full blur-[150px]">
  </div>
</div>
