<!-- Dashboard sidebar -->
<!-- Sidebar (fixed width, only grows vertically) -->
<nav class="w-64 p-2.5 bg-violet-600/40 flex flex-col flex-grow-0">
  <!-- Sidebar Upper Section -->
  <div class="self-stretch shrink basis-0 p-1 flex-col justify-start items-start gap-1 flex">
    <div class="SimulationHeader self-stretch p-1 flex-col justify-start items-start gap-1 flex">
      <div class="SimHeadContainer self-stretch p-1 rounded-[22px] flex-col justify-center items-center gap-2.5 flex">
        <div class="CostDelaySection px-2.5 py-[5px] justify-start items-start gap-2.5 inline-flex">
          <div
            class="CostDelayValue w-[113px] text-right text-white text-base font-bold font-['Outfit'] capitalize leading-tight">
            Bech-Bruun</div>
          <div class="ExternalLink w-[18px] p-[2.25px] justify-center items-center flex"></div>
        </div>
      </div>
    </div>
    <div class="StartDateSection self-stretch px-2.5 py-[5px] justify-end items-start gap-2.5 inline-flex">
      <div class="Frame10 grow shrink basis-0 justify-start items-center gap-2.5 flex">
        <div class="StartDateName text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">Start:
        </div>
      </div>
      <div class="StartDateValue text-right text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">
        01-02-2024</div>
    </div>
    <div class="TargetDateSection self-stretch px-2.5 py-[5px] justify-end items-start gap-2.5 inline-flex">
      <div class="Frame11 grow shrink basis-0 justify-start items-center gap-2.5 flex">
        <div class="TargetDateName text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">Target:
        </div>
      </div>
      <div class="TargetDateValue text-right text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">
        09-11-2024</div>
    </div>
    <div class="EndDateSection self-stretch px-2.5 py-[5px] justify-end items-start gap-2.5 inline-flex">
      <div class="Frame12 grow shrink basis-0 justify-start items-center gap-2.5 flex">
        <div class="EndDateName text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">End:</div>
      </div>
      <div class="EndDateValue text-right text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">
        19-11-2024</div>
    </div>
    <div class="BudgetSection self-stretch px-2.5 py-[5px] justify-end items-start gap-2.5 inline-flex">
      <div class="Frame13 grow shrink basis-0 justify-start items-center gap-2.5 flex">
        <div class="BudgetName w-20 text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">Budget:
        </div>
      </div>
      <div class="BudgetValue text-right text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">
        1.100.000</div>
    </div>
    <div class="CostSection self-stretch px-2.5 py-[5px] justify-end items-start gap-2.5 inline-flex">
      <div class="Frame14 grow shrink basis-0 justify-start items-center gap-2.5 flex">
        <div class="CostName text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">Cost:</div>
      </div>
      <div class="CostValue text-right text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">
        1.070.000</div>
    </div>
    <div class="CostDelaySection self-stretch px-2.5 py-[5px] justify-end items-start gap-2.5 inline-flex">
      <div class="Frame15 grow shrink basis-0 justify-start items-center gap-2.5 flex">
        <div class="CostDelayName text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">delay/day:
        </div>
      </div>
      <div class="CostDelayValue text-right text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">
        5.320</div>
    </div>
  </div>
  <!-- Divider -->
  <div class="Rectangle2 self-stretch h-0.5 bg-[#ff7c87]"></div>
  <!-- Sidebar Lower Section -->
  <div
    class="LowerSidebarNav self-stretch grow shrink basis-0 px-2.5 pt-2.5 pb-6 flex-col justify-start items-start gap-2.5 flex">
    <div class="SimulationsHeadlines self-stretch py-1 flex-col justify-start items-start gap-2.5 flex">
      <div class="Frame6 w-[198px] px-4 justify-center items-center gap-2.5 inline-flex">
        <div class="Simulations text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">Simulations
        </div>
        <div class="ExternalLink w-6 h-6 p-[3px] justify-center items-center flex"></div>
      </div>
    </div>
    <div
      class="TableOfSimulations self-stretch grow shrink basis-0 p-2.5 border border-[#ff7c87] flex-col justify-start items-start gap-2.5 flex">
      <div
        class="SimRow self-stretch px-[18px] py-1 border-b border-[#ff7c87] justify-center items-center gap-2.5 inline-flex">
        <div class="SimName grow shrink basis-0 text-white text-base font-bold font-['Outfit'] leading-tight">Phase I
        </div>
        <div class="Edit w-5 h-5 pl-[1.67px] pr-[1.57px] pt-[1.57px] pb-[1.67px] justify-center items-center flex">
        </div>
      </div>
      <div
        class="SimRow self-stretch px-[18px] py-1 border-b border-[#ff7c87] justify-center items-center gap-2.5 inline-flex">
        <div class="SimName grow shrink basis-0 text-white text-base font-bold font-['Outfit'] leading-tight">Ekstra
          Feature to project</div>
        <div class="Edit w-5 h-5 pl-[1.67px] pr-[1.57px] pt-[1.57px] pb-[1.67px] justify-center items-center flex">
        </div>
      </div>
      <div
        class="SimRow self-stretch px-[18px] py-1 border-b border-[#ff7c87] justify-center items-center gap-2.5 inline-flex">
        <div class="SimName grow shrink basis-0 text-white text-base font-bold font-['Outfit'] leading-tight">New
          Deadline</div>
        <div class="Edit w-5 h-5 pl-[1.67px] pr-[1.57px] pt-[1.57px] pb-[1.67px] justify-center items-center flex">
        </div>
      </div>
      <div
        class="SimRow self-stretch px-[18px] py-1 border-b border-[#ff7c87] justify-center items-center gap-2.5 inline-flex">
        <div class="SimName grow shrink basis-0 text-white text-base font-bold font-['Outfit'] leading-tight">Phase II
          of Bech Bruun project</div>
        <div class="Edit w-5 h-5 pl-[1.67px] pr-[1.57px] pt-[1.57px] pb-[1.67px] justify-center items-center flex">
        </div>
      </div>
    </div>
  </div>
  <!-- Divider -->
  <div class="Rectangle3 self-stretch h-0.5 bg-[#ff7c87]"></div>
  <!-- Sidebar Footer Section -->
  <div class="SidebarFooterSettings self-stretch h-full justify-center items-center gap-[45px] inline-flex">
    <div class="Archive w-6 h-6 px-px py-[3px] justify-center items-center flex"></div>
    <div class="Settings w-6 h-6 p-px justify-center items-center flex"></div>
    <div class="ExternalLink w-6 h-6 p-[3px] justify-center items-center flex"></div>
  </div>
</nav>
