<!-- BgCircles will be absolutely positioned and in the background -->
<div
  class="BgCircles fixed inset-0 w-[2000px] origin-top-left rotate-[8deg] justify-center items-start gap-[839.88px] flex z-[-1] pointer-events-none">
  <div class="Ellipse1 absolute top-0 left-0 w-[600px] h-[600px] bg-[#7e44eb]/90 rounded-full blur-[150px]"></div>
  <div class="Ellipse2 absolute top-0 right-0 w-[600px] h-[600px] bg-[#ff7c87] rounded-full blur-[150px]"></div>
</div>
