<div class='px-1.5 py-1 flex space-x-1 justify-center items-center bg-white dark:invert'>
  <div class='h-2 w-2 bg-red-400 rounded-full animate-bounce [animation-delay:-0.3s]'></div>
  <div class='h-2 w-2 bg-red-400 rounded-full animate-bounce [animation-delay:-0.15s]'></div>
  <div class='h-2 w-2 bg-red-400 rounded-full animate-bounce'></div>
</div>
