@rendermode InteractiveServer

<div class="Hero w-[1080px] mx-[180px] py-5 grow shrink basis-0 justify-start items-start gap-2.5 inline-flex">
  <div class="Leftsidehero self-stretch flex-col justify-start items-start gap-10 inline-flex">
    <div class="Header1 self-stretch w-[535px] py-px justify-start items-start gap-2.5 inline-flex">
      <div class="RunSimulationsOnYourProjects text-white text-[70px] font-extrabold font-['Inter'] capitalize">
        Run simulations on your projects</div>
    </div>
    <div class="Subtext self-stretch py-px justify-center items-start gap-2.5 inline-flex">
      <div
        class="ToolForIdentifyingAnalyzingAndRespondingToAnyRiskThatArisesOverTheLifeCycleOfAProjectToHelpTheProjectRemainOnTrackAndMeetItsGoal w-[525px] text-white text-base font-normal font-['Inter'] tracking-wider">
        Tool for identifying, analyzing and responding to any risk that arises over the life cycle of a project to
        help the project remain on track and meet its goal</div>
    </div>
    <div class="Buttonsection self-stretch py-px justify-between items-end inline-flex">
      <a href="/simulation">
        <div class="Button-newsim w-[255px] h-[66px] px-8 py-5 justify-center items-center gap-2.5 flex">
          <button class="bg-[#7e44eb] hover:hover:bg-red-400 rounded-[168px]">
            <span class="NewSimulation text-white text-xl font-semibold font-['Outfit'] uppercase tracking-wider">New
              simulation</span>
          </button>
        </div>
      </a>
      <a href="/simulations">
        <div class="Button-oldsim w-[255px] h-[66px] px-8 py-5 justify-center items-center gap-2.5 flex">
          <button class="rounded-[168px] border border-[#ff7c87] hover:bg-red-400">
            <span class="OldSimulations text-white text-xl font-semibold font-['Outfit'] uppercase tracking-wider">OLD
              simulations</span> </button>
        </div>
      </a>
    </div>
  </div>
  <div class="Rightsidehero grow pt-[10px] shrink basis-0 self-stretch justify-center items-start gap-2.5 flex">
    <img class="Simchartimg h-[440px] rounded-[31px] object-cover object-center"
      src="img/openart-image_OgGepPGA_1728025728373_raw.png" />
  </div>
</div>
