@page "/htmx-test"
<div class="alert alert-info">
  <span class="text-lg-center">
    @Message
  </span>
</div>

@code {
[SupplyParameterFromForm]
public string? Message { get; set; } = "I ❤️ HTMX";
}
