<!-- Button trigger modal
<button id="openModal" class="bg-[#7e44eb] text-white px-4 py-2 rounded hover:bg-blue-600">
  Launch demo modal
</button>
-->
<!-- Modal (Full-screen) -->
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 hidden" id="modal">
  <div class="bg-white rounded-lg shadow-lg w-1/3 h-5/6 flex flex-col">

    <!-- Modal Header -->
    <div class="px-4 py-2 bg-[#7e44eb] rounded-t-lg flex justify-between items-center border-b">
      <h2 class="text-white text-lg font-semibold">New Simulation</h2>
      <button id="closeModal" class="text-white hover:text-black">&times;</button>
    </div>

    <!-- Modal Body -->
    <div class="flex flex-col p-4 flex-grow overflow-hidden">
    </div>

    <!-- Modal Footer -->
    <div class="px-4 py-2 border-t h-fit flex justify-end">
      <button id="closeModalFooter" class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600 mr-2">
        Close
      </button>
      <button type="submit" class="bg-[#7e44eb] text-white px-4 py-2 rounded hover:bg-blue-600"
        hx-get="/create-new-project-modal" hx-target="#modal" hx-swap="innerHTML">
        Next page
      </button>
    </div>

  </div>
</div>
