<button
  class="RunSimButton h-full w-44 grow shrink basis-0 py-1.5 px-2.5 bg-[#7e44eb] rounded-[49px] justify-center items-center gap-2 inline-flex hover:bg-[#5e33c9]">
  <div class="Rerun text-white text-sm font-semibold font-['Outfit'] uppercase tracking-wide">Run</div>
  <div
    class="inline-block h-5 w-5 animate-spin rounded-full border-4 border-solid border-current border-e-transparent align-[-0.125em] text-neutral-50 motion-reduce:animate-[spin_1.5s_linear_infinite]"
    role="status">
    <span
      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Loading...</span>
  </div>
</button>
