<div
  class="SimDropdown grow shrink basis-0 h-[37px] bg-white rounded-[20px] justify-center items-center gap-2.5 flex relative">
  <form class="w-full h-full">
    <select id="options"
      class="w-full h-full bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option selected>Choose an option
      </option>
      <option value="Option1">25</option>
      <option value="Option2">100</option>
      <option value="Option3">1.000</option>
      <option value="Option4">2.000</option>
      <option value="Option5">5.000</option>
      <option value="Option6">10.000</option>
    </select>
  </form>
</div>
